.footer {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    background-color: #f6f6f4;
    width: 100%;

  }
  
  /*LINKS INFO & PRIVACY */

  .footer__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
   
  }
  .footer__section li{
    list-style: none;
  }
  
  .footer__title {
    font-weight: bold;
    
    color: #010101;
  }
  
  
  .footer__link {
    text-decoration: underline;
    color: #4d4d4c;
    list-style: none;
    
  }
  
  /* RRSS*/

  .footer__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
   margin-right: 40px;
  }
 
  .footer__rrss{

    color: #010101;

  }


  /* Privacy */
  .footer__privacy {

    display: flex;
    justify-content: center;
    font-size: 12px;
    list-style: none;
  
    color: #010101;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
  }
  .footer__privacy a {
    text-decoration: none;
    color: #010101;
  }